<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chimp.Logging.Core" version="0.2.0-alpha" targetFramework="net48" />
  <package id="DesktopToast" version="0.7.0-alpha" targetFramework="net48" />
  <package id="FirebaseAuthentication.net" version="4.0.0-alpha.2" targetFramework="net48" />
  <package id="FirebaseDatabase" version="1.0.0" targetFramework="net48" />
  <package id="FirebaseDatabase.net" version="4.0.6" targetFramework="net48" />
  <package id="LiteDB" version="4.1.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="RestSharp" version="106.11.5" targetFramework="net48" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net48" />
</packages>